<nav>
    <div class="business-card">
        <a href="/" class="name">Hannah VanVels</a>
        <div class="social">
            <a href="https://twitter.com/hannahvanvels" title="Twitter" target="_blank">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
            </a> <a href="https://www.instagram.com/hannahvanvels" title="Instagram" target="_blank">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
            </a><a href="https://www.linkedin.com/in/hannah-vanvels-a39a1bbb/" title="LinkedIn" target="_blank">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
                </span>
            </a><a href="https://www.goodreads.com/user/show/63540606-hannah-vanvels" title="Goodreads" target="_blank">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-goodreads-g fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </div>
    </div>

    <a class="hamburger" href="#" aria-controls="nav" aria-expanded="false" aria-label="Toggle menu">
        <div class="hamburger-outer">
            <div class="hamburger-inner"></div>
        </div>
    </a>
    <aside>
        <a href="/">home</a>
        <a href="/about">about me</a>
        <a href="/submission-guidelines">submission guidelines</a>
        <a href="/wishlist">my wishlist</a>
        <a href="/services">services</a>
        <a href="/thoughts">thoughts</a>
        <a href="/contact">contact me</a>
    </aside>
</nav>