{% include head.html %}
<header>
	{% include nav.html %}
</header>
<main>
	<article>
		<h1 class="title">{{ page.title }}</h1>
		<h2 class="subtitle">{{ page.subtitle }}</h2>
		<div class="tags">
			<p>Categories: 
			{% for category in page.categories %}
				<mark><a href="/category/{{ category }}">{{ category }}</a></mark> 
			{% endfor %}
			Tags: 
			{% for tag in page.tags %}
				<mark><a href="/tag/{{ tag }}">{{ tag }}</a></mark> 
			{% endfor %}
			</p>
		</div>
		
		<div class="content">
			{{ content }}
		</div>
	</article>
</main>
{% include foot.html %}