{% include head.html %}
<header>
	{% include nav.html %}
</header>
<main>
	<h1 class="display">Posts tagged <mark>#{{ page.title }}</mark></h1>
	
	<div class="columns">
	{% for post in page.posts %}
		<div class="column one-third order-{{ counter }}">
			<a href="{{ post.url }}" class="sticky-note">
				<h4 class="title">{{ post.title }}</h4>
				<h5 class="subtitle">{{ post.date | date: '%a, %b %d, %Y' }}</h5>
				<div class="body">{{ post.excerpt }}</div>
				<div class="link">
					Read more <i class="fal fa-long-arrow-alt-right"></i>
				</div>
			</a>
		</div>
	{% endfor %}
	</div>
</main>
{% include foot.html %}