*, ::before, ::after {
    box-sizing:border-box;
}
body, html {
    margin:0;
    padding:0;
}
body {
    position:relative;
    font-family:$sans-serif;
    font-size:16px;
    line-height:1.5;
    background-color:$muted-pink;
    background-image:url($texture);
    width:100%;
    overflow-x:hidden;
}
h1.display {
    font-size:3rem;
    line-height:1.1;
    color:$rose-gold-800;
    margin-bottom:3rem;

    mark {
        color:rgba($rose-gold-800, .8);
    }
}
h1, h2, h3 {
    font-family:$serif;
    color:$rose-gold-700;
    margin:0;
}
h4, h5, h6 {
    font-family:$sans-serif;
    font-weight:900;
    color:$dark-blue-600;
    margin:0;
}
a, a:hover, a:focus, a:active, a:visited {
    color:$dark-blue;
}
mark {
    background-color:rgba($rose-gold-200, .5);
    padding:.15rem;

    a {
        text-decoration:none;
    }
    a:hover {
        text-decoration:underline;
    }
}
header {
    position:relative;
    z-index:1020;
}
main {
    position:relative;
    display:block;
    padding:1rem;
    z-index:1010;
}
@media (min-width:768px) {
    main {
        padding:2rem;
    }
}