form {
    background-color:rgba($rose-gold-100, .65);
    padding:2rem 1rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 
		0 2px 4px rgba(0, 0, 0, 0.07),
		0 4px 8px rgba(0, 0, 0, 0.07),
		0 8px 16px rgba(0, 0, 0, 0.07),
		0 16px 32px rgba(0, 0, 0, 0.07),
		0 32px 64px rgba(0, 0, 0, 0.07);

    h3 {
        margin-bottom:1.3rem;
    }
    label {
        margin-top:1.25rem;
        display:block;
    }
}
input::placeholder {
    color:$rose-gold-500;
}
input[type="text"], input[type="email"], input[type="password"], select, textarea {
    display:block;
    width:100%;
    padding:.375rem 1.25rem .375rem .75rem;
    font-size:1.15rem;
    font-weight:400;
    line-height:1.5;
    color:$rose-gold;
    background-color:rgba($rose-gold, .15);
    border:none;
    border-bottom:.2rem solid $rose-gold;
    border-radius:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
    
    &:active, &:focus {
        outline:none;
        background-color:rgba($rose-gold, .18);
    }
}
select {
    padding-right:.25rem;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3e%3cpath fill='#{$rose-gold}' d='M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z'/%3e%3c/svg%3e") no-repeat;
    background-position-y:1rem;
    background-position-x:calc(100% - .25rem);
    background-size:1.15rem 1.15rem;
    background-color:rgba($rose-gold, .15);
}
input.lg {
    font-size:2rem;
    background-position-y:1rem;
    background-size:2rem 2rem;
}