@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Lato|Yeseva+One|Raleway');
@import "bootstrap/bootstrap.scss";

$highlight-green:#296b36;
$highlight-pink:#ffadba;
$highlight-blue:#406f85;
$highlight-teal:#a3c1a0;
$highlight-yellow:#f5f3ce;

header {
    /*background-color:rgba($highlight-yellow, .45);
    box-shadow: 0 1rem 2rem -1rem rgba($primary,0.75);*/
    margin-bottom:3rem;
}
h1.title {
    display:inline-block;
    font-family:"Yeseva One", $font-family-sans-serif;
    font-size:5rem;
    color:darken($primary, 25%);
    -webkit-mask-image:url('/assets/img/nasty-fabric.png');
    padding:1.5rem 2rem;
    border:1.5rem solid darken($primary, 25%);
}
.navbar {
    align-items: flex-start!important;
}
.navbar-nav {
    flex-direction: column!important;
    text-align:center;
    padding:2rem;

    .nav-link {
        font-family:"Yeseva One", $font-family-sans-serif;
        font-size:2.5rem;
        color:darken($primary, 30%)!important;
        -webkit-mask-image:url('/assets/img/nasty-fabric.png');
        border-bottom:.75rem solid transparent;
        transition:border-color .3s ease-in-out;
        padding-bottom:0;
    }
    .nav-item.active .nav-link {
        border-color:darken($primary, 30%);
    }
    .nav-link:hover, .nav-item.active .nav-link:hover {
        color:darken($primary, 50%)!important;
        border-color:darken($primary, 50%);
    }
}
body {
    position:relative;
    background-color:$light-red;
    background-image:url('/assets/img/nasty-fabric.png');

    ::before {
        position:fixed;
        top:0;
        left:0;
        bottom:0;
        width:33.333%;
        background-color:rgba($highlight-yellow, .45);
    }
}
select.filter {
    display: inline-block;
    width: 100%;
    padding: .375rem 1.25rem .375rem .75rem;
    font-family:"Raleway", $font-family-sans-serif;
    font-size:2rem;
    font-weight: 400;
    line-height: 1.5;
    color: $primary;
    vertical-align: middle;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3e%3cpath fill='#{$primary}' d='M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z'/%3e%3c/svg%3e") no-repeat;
    background-position-y:1rem;
    background-position-x:right;
    background-size:2rem 2rem;
    background-color:transparent;
    border: none;
    border-bottom:.2rem solid $primary;
    border-radius: .0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.card {
    margin-bottom:.5rem;
    height:18rem;
    //background-image:url('/assets/img/nasty-fabric.png');
    box-shadow: 0 1rem 2rem -1rem rgba($primary,0.75);
}
.col-sm-4:nth-child(odd) .card {
    background-image:linear-gradient(
      rgba($misty-rose, 0.5),
      rgba($misty-rose, 0.5)
    ), url('/assets/img/nasty-fabric.png');
}
.card-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
}
.card-text {
    position:relative;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-line-clamp:7;
    -webkit-box-orient:vertical;
    line-height:$line-height-sm;
    height:$line-height-sm * 7rem;
}
#wordcloud {
    margin:0 auto;
    width:80%;
    max-width:600px;
    height:300px;
}


.jqcloud {
    line-height: normal;
    overflow: hidden;
    position: relative;
}
.jqcloud-word {
    margin: 0;
    padding: 0;
}
.jqcloud-word.w10 {
    color:$primary;
    font-size:550%;
}
.jqcloud-word.w9 {
    color:rgba($primary, .9);
    font-size:500%;
}
.jqcloud-word.w8 {
    color:rgba($primary, .85);
    font-size:450%;
}
.jqcloud-word.w7 {
    color:rgba($primary, .8);
    font-size:400%;
}
.jqcloud-word.w6 {
    color:rgba($primary, .75);
    font-size:350%;
}
.jqcloud-word.w5 {
    color:rgba($primary, .7);
    font-size:300%;
}
.jqcloud-word.w4 {
    color:rgba($primary, .65);
    font-size:250%;
}
.jqcloud-word.w3 {
    color:rgba($primary, .6);
    font-size:200%;
}
.jqcloud-word.w2 {
    color:rgba($primary, .55);
    font-size:150%;
}
.jqcloud-word.w1 {
    color:rgba($primary, .5);
    font-size:100%;
}

.jqcloud-word a, .jqcloud-word a:hover {
    color:inherit;
}