nav {
	position:relative;
	background-color:$rose-gold-100;
	box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
	0 2px 4px rgba(0,0,0,0.07), 
	0 4px 8px rgba(0,0,0,0.07), 
	0 8px 16px rgba(0,0,0,0.07),
	0 16px 32px rgba(0,0,0,0.07), 
	0 32px 64px rgba(0,0,0,0.07);
	text-align:left;

	a, a:hover {
		text-decoration:none;
	}
	.business-card {
		position:relative;
		display:inline-block;
		z-index:130;
		padding:.75rem 1rem;

		.name {
			font-family:$serif;
			font-size:2rem;
			color:$rose-gold;
		}
		.social {
			font-size:.5rem;

			a {
				color:$rose-gold-200;

				.fa-inverse {
					color:$rose-gold;
				}
			}
			a:hover {
				color:$rose-gold-300;
			}
		}
	}
	.hamburger {
		display:inline-block;
		position:absolute;
		top:1rem;
		right:1rem;
		overflow:visible;
		z-index:120;

		.hamburger-outer {
			position:relative;
			width:5rem;
			height:5rem;

			.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
				position:absolute;
				right:0;
				display:block;
				width:3rem;
				height:.25rem;
				border-bottom:.5rem solid $rose-gold;
			}
			.hamburger-inner {
				top:1rem;
				transition:transform .15s ease;
			}
			.hamburger-inner::before {
				content: "";
				top: -1rem;
				transition:top 75ms ease .12s,opacity 75ms ease;
			}
			.hamburger-inner::after {
				content: "";
				bottom: -1.5rem;
				transition:bottom 75ms ease .12s,transform 75ms cubic-bezier(.55,.055,.675,.19);
			}
		}
	}
	aside {
		display:inline-block;
		position:fixed;
		top:0;
		left:100vw;
		right:-15rem;
		height:100vh;
		background-color:$rose-gold-100;
		padding-top:7rem;
		transition:right .75s cubic-bezier(.55,.055,.675,.19),
		left .75s cubic-bezier(.55,.055,.675,.19);
		z-index:110;

		a {
			display:block;
			text-align:center;
			padding:1rem 2rem;
			color:$dark-blue;
		}
		a:hover {
			background-color:$rose-gold-200;
		}
	}
}
nav.active {
	.hamburger {
		.hamburger-outer {
			.hamburger-inner {
				transition-delay: .12s;
				transition-timing-function: cubic-bezier(.215,.61,.355,1);
				transform: rotate(45deg);
			}
			.hamburger-inner::before {
				top: 1rem;
				transition: top 75ms ease,opacity 75ms ease .12s;
				opacity: 0;
			}
			.hamburger-inner::after {
				bottom: -.6rem;
				right:.1rem;
				transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
				transform: rotate(-90deg);
			}
		}
	}

	aside {
		right:0;
		left:0;
	}
}
body.lock {
	overflow:hidden!important;
}

@media (min-width:768px) {
	nav {
		text-align:center;

		.business-card {
			.name {
				font-size:3rem;
			}
		}
		.hamburger {
			display:none;
		}
		aside {
			display:block;
			position:relative;
			left:0;
			right:0;
			height:auto;
			background-color:$rose-gold-200;
			padding-top:0rem;

			a {
				display:inline-block;
				padding:.75rem;
			}
			a:hover {
				background-color:$rose-gold-300;
			}
		}
	}
}